<h1>Verifie que tes coordonné respectent les conditions suivante</h1>
	<ul>
		<li>ton username a bien plus de 3 caracteres</li>
		<li>ta bio a bien plus de 10 caracteres</li>

	</ul>
<p>Pour essayer à nouveau <%= link_to  'c\'est par ici', newuser_path %></p> 
<p><%= link_to 'Accueil', home_path %></p>