<h1>Bienvenue dans la création d'utilisateurs !</h1>

<form action="/users/create" method="post">

	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    Username: <input name="username" type="text"><br>

    Bio:      <textarea name="bio" rows="4" cols="50"> </textarea><br>
              <input type="submit" value="Submit">
</form>
