<div class="container">
<h1>Bienvenue dans la création d'utilisateurs !</h1>

<form action="/users/create" method="post">

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

<div class="row">
    <div class="col form-group name">  
      Username: <input name="username" type="text">
  </div>
</div>

    <div class="col form-group bio">
      Bio:      <textarea name="bio" rows="4" cols="50"> </textarea>
     </div>

     <div class="validation form-group"> 
              <input class="btn btn-info btn-lg" type="submit" value="Submit">
     </div>
</form> 
</div>